src/NumbexServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://numbex/" name="NumbexServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://numbex/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://numbex/" xmlns:tns="http://numbex/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getData" nillable="true" type="tns:getData"/>

  <xs:element name="getDataResponse" nillable="true" type="tns:getDataResponse"/>

  <xs:element name="getUpdates" nillable="true" type="tns:getUpdates"/>

  <xs:element name="getUpdatesResponse" nillable="true" type="tns:getUpdatesResponse"/>

  <xs:element name="receiveUpdates" nillable="true" type="tns:receiveUpdates"/>

  <xs:element name="receiveUpdatesResponse" nillable="true" type="tns:receiveUpdatesResponse"/>

  <xs:complexType name="getData">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getDataResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="receiveUpdates">
    <xs:sequence>
      <xs:element name="csv" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="receiveUpdatesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUpdates">
    <xs:sequence>
      <xs:element name="parameter" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUpdatesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

    </xsd:schema>
  </types>
  <message name="getData">
    <part name="parameters" element="tns:getData"/>
  </message>
  <message name="getDataResponse">
    <part name="parameters" element="tns:getDataResponse"/>
  </message>
  <message name="getUpdates">
    <part name="parameters" element="tns:getUpdates"/>
  </message>
  <message name="getUpdatesResponse">
    <part name="parameters" element="tns:getUpdatesResponse"/>
  </message>
  <message name="receiveUpdates">
    <part name="parameters" element="tns:receiveUpdates"/>
  </message>
  <message name="receiveUpdatesResponse">
    <part name="parameters" element="tns:receiveUpdatesResponse"/>
  </message>
  <portType name="NumbexService">
    <operation name="getData">
      <input message="tns:getData"/>
      <output message="tns:getDataResponse"/>
    </operation>
    <operation name="getUpdates">
      <input message="tns:getUpdates"/>
      <output message="tns:getUpdatesResponse"/>
    </operation>
    <operation name="receiveUpdates">
      <input message="tns:receiveUpdates"/>
      <output message="tns:receiveUpdatesResponse"/>
    </operation>
  </portType>
  <binding name="NumbexServicePortBinding" type="tns:NumbexService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getData">
      <soap:operation soapAction="getData"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUpdates">
      <soap:operation soapAction="getUpdates"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="receiveUpdates">
      <soap:operation soapAction="receiveUpdates"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NumbexServiceService">
    <port name="NumbexServicePort" binding="tns:NumbexServicePortBinding">
            <soap:address location="http://localhost:8000/"/>
    </port>
  </service>
</definitions>

